.TextEditor__wrapper {
  width: 100%;
  height: 100%;
  padding: 1px;
  display: flex;
}

textarea {
  flex: 1;
  color: var(--white-color);
  border: none;
  resize: none;
  background: none;

  &:focus-visible {
    outline: none;
  }
}
